header {
    background-attachment: fixed;
    background-color: #e3c6b1;
}

/*#how {
    background: #0d0d0d url("../img/how.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding-bottom: 20px;
}*/

h3, h3#work , h3#contact {
    font-weight: 500;
    font-size: 3rem;
    color: #974de4;
}
.work-container h4, .work-container noscript h4 {
    color: #974de4;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.2;
}

a {
    color: #974de4;
}
 a:hover {
    color:rgba(44, 214, 150, 0.51);
}
a:focus{
    color:rgba(48, 195, 113, 0.56);
}
.blurb {
    text-align: left;
    margin-top: -1em;
}

#how .blurb {
    background: rgba(255,255,255,0.45); 
}


header h1 span {
    display: inline-block;
    padding: 0.2em 0.5em;
    border: none;
    font-size: 10rem;
    max-width: 70rem;
    text-shadow: rgba(66, 66, 66, 1.0) 12px 1px;
}


@media screen and (max-width: 480px) {
header h1 span {
    font-size: 3rem;
    }
    h3 {
    font-weight: 500;
    font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
header h1 span {
    font-size: 5rem;
    }

h3 {
    font-weight: 500;
    font-size: 2rem;
    }
}

header .kicker {
    text-shadow: 1px 1px rgba(49, 44, 44, 0.49);
}

.thumb-container label {
    width: 33.333333%;
}

.social-links a, .social-links a:after {
    color: #974de4;
}

.social-links a {
    border: 2px solid #974de4;
}

.social-links a:after {
   border: 2px solid #974de4;
    border-radius: 50%;
}

.clients-logos .client-logo.active-client {
    opacity: 1;
    border-bottom: 4px solid #974de4;
}

form input, form textarea {
    border: 3px solid #974de4;
}

form [type="submit"] {
    background: #974de4;
}

.bar {
    border-top: 4px solid #974de4;
}

  form input, form textarea {
    border: 3px solid #974de4;
}
    form input:focus, form textarea:focus {
      outline: none;
      border-color: #974de4; }
  form [type="submit"] {
    background: #974de4;
}
    form [type="submit"]:hover {
    background:rgba(44, 214, 150, 0.51);
}

.thumb-container label .thumb-overlay {
    background:rgba(44, 214, 150, 0.51);
}


.client-quote-mark path {
    fill: #974de4;
}

    .clients-mobile-nav span.active-client {
      border-color: #974de4; 
}
